*, *::after, *::before {
    box-sizing:border-box;  
}

*{
	margin: 0;
}

html{
	scroll-behavior: smooth;

    color-scheme: light dark;
    --colour-background: #FFC917;
    --colour-secondary-background: light-dark(#E6E6E9, #252527);
    --colour-grey:light-dark(#F7F7F9, #252527);
    --colour-text: light-dark(#003082, #D6D7DC);
    --colour-text-secondary: #0063D3;
    --colour-secondary: light-dark(#ffffff, #252527);

    font-family: 'Roboto', sans-serif;
    color: var(--colour-text);
    /* background-color: var(--colour-grey); */
    background-color: var(--colour-secondary);
    letter-spacing: 0.3px;
}

#date, #datumHuwelijkseVoorwaarden{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3px;
    color: rgb(141, 137, 137);
}


header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--colour-background);
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

nav p{
    color: #003082;
}

section{
    margin: 1em 20em 4em 20em;
    /* max-width: 40vw; */
    display: block;
    /* margin: 0 auto; */
}

/* styling nav */
section nav{
    align-items: start;
    margin-bottom: 1.5em;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding: 0;
}

li{
    list-style: none;
}

li a{
    color: var(--colour-text-secondary);
    text-decoration: none;
    font-size: 14px;
}

/* styling eerste section */
section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 3em;
}

section:nth-of-type(1) p{
    color: rgb(141, 137, 137);
}

fieldset{
    border: none;
    border-radius: 12px;
    padding: 0;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    background-color: var(--colour-secondary);
    /* filter: drop-shadow(5px 5px 4px var(--colour-secondary-background));  */
}

fieldset label{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em 0;
}

fieldset input{
    /* padding: 0.5em; */
    padding: 1.2em;
    border: 1px solid #73747A;
    border-radius: 4px;
    margin-bottom: 1em;
}

/* section:nth-of-type(2) fieldset{
    border: none;
} */

.name{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    width: 100%;
}

.name label{
    flex-grow: 1;
}

.name label:nth-child(3){
    flex-grow: 5;
}
.mainHolder{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.holder{
    padding: 0.2em 0;
    width: 100%;
}

input{
    background-color: var(--colour-secondary);
}

.holder input{
    display: none;
}

.holder label{
    padding: 1.2em;
    /* border: 1px solid #C4C4CA; */
    border: 1px solid #73747A;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    color: #73747A;

    font-weight: 200;
    transition: 0.5s;
}


.mainFieldset input, .holder label{
    font-size: 14px;
}

.holder label:hover{
    border: 1px solid #73747A;
    background-color: var(--colour-secondary-background);
}

.holder:has(input:checked) label {
    border: 3px solid var(--colour-text-secondary);
}

.holder:has(input:checked) label:hover {
    background-color: transparent;

}

.mainFieldset{
    /* background-color: var(--colour-background); */
    font-weight: bold;
}

label{
    font-weight: normal;
}

.questionFieldset{
    filter: none;
    font-weight: normal;
}

hr{
    margin-top: 1.5em;
    width: 12%;
    border: 2.5px solid var(--colour-background);
}

.test{
    filter: none;
    background-color: transparent;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
}

.test legend{
    margin-bottom: 0.8em;
}

.subheading{
    margin: 5em 0 3em 0;
}

.error{
    color: red;
    display: none;
}

#datumHuwelijkseVoorwaarden{
    width: 100%;
    cursor: pointer;
}

fieldset:has(input[id="voorletters"]:user-invalid) .error{
    display: block;
}

.hidden{
    display: none;
}

/* .mainFieldset:has(input[name="getrouwd"][value="ja"]:checked) {
    +.mainFieldset.hidden{
        display: block; 
    }

    .mainFieldset:has(input[name="huwelijkseVoorwaarden"][value="ja"]:checked) .mainFieldset.hidden{
        display: block; 
    }
} */

/* .mainFieldset:has(input[name="huwelijkseVoorwaarden"][value="ja"]:checked) 
+ .mainFieldset.hidden {
    display: block;
} */

/* .mainFieldset:has(input[name="getrouwd"][value="nee"]:checked) {
    .hidden {
         display: none;
    }
} */


.mainFieldset:has(input[name="getrouwd"][value="ja"]:checked) {
    + .mainFieldset.hidden {
        display: block;

        &:has(input[name="huwelijkseVoorwaarden"][value="ja"]:checked) {
            + .mainFieldset.hidden {
                display: block;
            }
            ~ .mainFieldset.hidden:has(input[type="date"]) {
                display: block;
            }
        }
    }
}

.mainFieldset:has(input[name="kinderen"][value="ja"]:checked) {
    + .mainFieldset.hidden {
        display: block;

        &:has(input[name="kinderenOverleden"][value="ja"]:checked) {
            + .mainFieldset.hidden {
                display: block;
            }
        }
    }
}

label[for="protocolNummer"]{
    margin-top: 1em;
}


/* deel 3 verkrijgers */
.verkrijger{
    margin-top: 4em;
    margin-bottom: 2em;
    padding-bottom: 0;
}

#bsnRsin{
    margin-bottom: 1em;
}

.verkrijger .mainFieldset legend{
    font-weight: normal;
}

.verkrijger .mainFieldset{
    margin: .8em 0;
}


/* submit button */
button{
    padding: 1em 2em;
    border: none;
    background-color: var(--colour-text-secondary);
    color: var(--colour-secondary);
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;    
}

button:hover{
    background-color: var(--colour-text);
}

button:has(svg){
    margin-bottom: 2em;
    font-size: 14px;
    background-color: var(--colour-background);
    color: var(--colour-text);
}

button:has(svg):hover{
    background-color: #f0af09;
}

button svg{
    width: 1em;
    height: 1.5em;
    margin-right: 0.8em;
}

.verkrijgerVerwijderen{
    background-color: var(--colour-secondary-background);
}

.verkrijgerVerwijderen:hover{
    background-color: #c4c4c8;
}

.verkrijgerKnoppen{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.js .verkrijger {
  display: none;
}

.js .mainFieldset:has(input[name="geenAangifte"][value="ja"]:checked) {
    + .mainFieldset.verkrijger {
        display: block;
    }

    ~ .verkrijgerKnoppen button {
        display: block;
        display: flex;
        align-items: center;
    }
}

.no-js .mainFieldset:has(input[name="geenAangifte"][value="ja"]:checked) {
    ~ .mainFieldset.verkrijger {
        display: block;
    }
}

.js .verkrijger.zichtbaar {
  display: block;
}

/* mediaqueries */
@media (max-width: 1024px) {
	.container{
		max-width: 1024px;
	}

    section{
        margin: 1em 10em 4em 10em;
    }
}

@media (max-width: 768px) {
	.container{
		max-width: 768px;
	}

    section{
        margin: 1em 2em 4em 2em;
    }

    .name, ul{
        flex-wrap: wrap;
    }

    ul{
        gap: 0.5em;
    }

    .mainHolder, .verkrijgerKnoppen{
        flex-direction: column;
    }

    .verkrijgerKnoppen{
        gap: 0;
    }

    h1{
        font-size: 1.5em;
    }

    h2{
        font-size: 1.2em;
    }

    legend, label, p, .mainFieldset input, .holder label, button {
        font-size: 0.8em;
    }
}

