@layer reset, base, components, validatie, media-queries, animations;

@layer reset {
    *, *::after, *::before {
        box-sizing:border-box;  
    }

    *{
        margin: 0;
    }
}

@layer base {
    html{
        scroll-behavior: smooth;

        color-scheme: light;
        --colour-background: #FFC917;
        --colour-secondary-background: light-dark(#E6E6E9, #252527);
        --colour-grey:light-dark(#F7F7F9, #252527);
        --colour-text: light-dark(#003082, #D6D7DC);
        --colour-text-secondary: #0063D3;
        --colour-secondary: light-dark(#ffffff, #252527);
        --colour-darkgrey: light-dark(#73747A,#eae4e4);

        font-family: 'Roboto', sans-serif;
        color: var(--colour-text);
        /* background-color: var(--colour-grey); */
        background-color: var(--colour-secondary);
        letter-spacing: 0.3px;
    }

    *:focus{
        outline: 2px solid var(--colour-text-secondary);
        outline-offset: 2px;
    }

    #date, #datumHuwelijkseVoorwaarden{
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.3px;
        color: rgb(141, 137, 137);
    }


    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: var(--colour-background);
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    nav p{
        color: #003082;
    }

    header svg{
        width: 2.5em;
        height: 2.5em;
        color: #003082;
        position: relative;
    }

    header > label {
        position: relative;
        width: 2.5em;
        height: 2.5em;
    }

    header label:nth-child(1):not(nav label:nth-child(1)){
        opacity: 0;
    }
}

@layer components {
    /* colorscheme button */
    input[type="checkbox"]{
        opacity: 0;
        cursor: pointer;
        position: absolute;
        inset: 0;
        margin: 0;
        aspect-ratio: 1;
        z-index: 2;
    }

    nav label{
        position: relative;
    }

    html:has(input[name="colorscheme-btn"]:checked) {
        color-scheme:dark;

        & header svg{
            fill: #003082;
        }
    }

    section{
        margin: 1em 20em 4em 20em;
        /* max-width: 40vw; */
        display: block;
        /* margin: 0 auto; */
    }

    /* styling nav */
    section nav{
        align-items: start;
        margin-bottom: 1.5em;
    }

    ul{
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        padding: 0;
    }

    li{
        list-style: none;
    }

    li a{
        color: var(--colour-text-secondary);
        text-decoration: none;
        font-size: 14px;
    }

    /* styling eerste section */
    section:nth-of-type(1){
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding-top: 3em;
    }

    section:nth-of-type(1) p{
        color: rgb(141, 137, 137);
    }

    fieldset{
        border: none;
        border-radius: 12px;
        padding: 0;
        margin-bottom: 1em;

        display: flex;
        flex-direction: column;
        background-color: var(--colour-secondary);
        /* filter: drop-shadow(5px 5px 4px var(--colour-secondary-background));  */
    }

    fieldset label{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em 0;
        width: 100%;
    }

    fieldset input{
        /* padding: 0.5em; */
        padding: 1.2em;
        border: 1px solid #73747A;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    /* section:nth-of-type(2) fieldset{
        border: none;
    } */

    #reset-btn{
        background-color: transparent;
        color: var(--colour-text-secondary);
        border: 1px solid var(--colour-text-secondary);
        margin-top: 2em;
        padding: 0.5em 1em;
        font-weight: normal;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
        display: flex;
        align-items: center;
        gap: 0.5em;

        &::after{
            content: "";
            display: inline-block;
            width: 1.2em;
            height: 1.2em;

            background-color: var(--colour-text-secondary);
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99' /%3E%3C/svg%3E");

            mask-size: contain;
            mask-repeat: no-repeat;
        }

        &:hover{
            background-color: var(--colour-secondary-background);
        }
    }

    .name{
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        width: 100%;
    }

    .name div{
        flex-grow: 1;
    }

    .name label:nth-child(3), .name div:nth-child(3) {
        flex-grow: 12;
    }
    .mainHolder{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .holder{
        padding: 0.2em 0;
        width: 100%;
    }

    input{
        background-color: var(--colour-secondary);
    }

    .holder input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .holder:has(input:focus-visible) label {
        outline: 2px solid var(--colour-text-secondary);
        outline-offset: 2px;
    }

    .holder label{
        padding: 1.2em;
        /* border: 1px solid #C4C4CA; */
        border: 1px solid #73747A;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        color: var(--colour-darkgrey);

        font-weight: 200;
        transition: 0.5s;
    }


    .mainFieldset input, .holder label {
        font-size: 14px;
    }

    .holder label {
        border: 1px solid #73747A;
    }

    .holder label:hover {
        border: 1px solid #73747A;
        background-color: var(--colour-secondary-background);
    }

    .holder:has(input:checked) label {
        border: 1px solid var(--colour-text-secondary);
        box-shadow: inset 0 0 0 2px var(--colour-text-secondary);
    }

    .holder:has(input:checked) label:hover {
        background-color: transparent;

    }

    .mainFieldset{
        /* background-color: var(--colour-background); */
        font-weight: bold;
    }

    label{
        font-weight: normal;
    }

    .questionFieldset{
        filter: none;
        font-weight: normal;
    }

    hr{
        margin-top: 1.5em;
        width: 12%;
        border: 2.5px solid var(--colour-background);
    }

    .test{
        filter: none;
        background-color: transparent;
        margin-bottom: 2em;
        padding-bottom: 0.5em;
    }

    legend{
        margin-bottom: 0.8em;
        font-size: 1.2em;
    }

    .mainFieldset .mainFieldset legend{
        font-size: 1em;
    }

    details{
        margin-bottom: 1em;

        & summary{
            display: inline-flex;
            align-items: center;
            gap: 0.4em;
            font-size: 0.7em;

            &:hover{
                cursor: pointer;
            }
        }

        & summary::before {
            content: "▶";
            transition: transform 0.2s;
        }

        &[open] summary::before {
            transform: rotate(90deg);
        }

        & summary::after {
            content: "";
            display: inline-block;
            width: 1.2em;
            height: 1.2em;

            background-color: var(--colour-text);
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z'/%3E%3C/svg%3E");
            mask-size: contain;
            mask-repeat: no-repeat;
        }

        & p{
            margin-top: 0.2em;
            font-weight: normal;
        }

        & ul{
            display: flex;
            flex-direction: column;
            gap: 0;

            & li{
                list-style: disc;
                margin-left: 1.5em;
            }
        }
    }

    .subheading{
        margin: 5em 0 3em 0;
        position: relative;
    }


    #datumHuwelijkseVoorwaarden{
        width: 100%;
        cursor: pointer;
    }

    label[for="protocolNummer"]{
        margin-top: 1em;
    }

    /* deel 3 verkrijgers */
    .verkrijger{
        margin-top: 4em;
        margin-bottom: 2em;
        padding-bottom: 0;
    }

    #bsnRsin{
        margin-bottom: 1em;
    }

    .verkrijger .mainFieldset legend{
        font-weight: normal;
    }

    .verkrijger .mainFieldset{
        margin: .8em 0;
    }


    /* submit button */
    button{
        padding: 1em 2em;
        border: none;
        background-color: var(--colour-text-secondary);
        color: var(--colour-secondary);
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;    
    }

    button:hover{
        background-color: var(--colour-text);
    }

    button:has(svg){
        margin-bottom: 2em;
        font-size: 14px;
        background-color: var(--colour-background);
        color: #003082;
    }

    button:has(svg):hover{
        background-color: #f0af09;
    }

    button svg{
        width: 1em;
        height: 1.5em;
        margin-right: 0.8em;
    }
}



@layer validatie {
    /* error messages */
    input:user-invalid,
    .holder:has(input[type="radio"]:user-invalid) label {
        border: 2px solid red;
    }

    input:required:user-valid{
        border: 2px solid green;
    }

    .error{
        color: #BB271A;
        display: none;
        font-size: 14px;
    }

    fieldset:has(#overledene-voorletters:user-invalid) #error-overledene-voorletters,
    fieldset:has(#overledene-achternaam:user-invalid) #error-overledene-achternaam,
    fieldset:has(#bsn:user-invalid) #error-ongeldige-bsn,
    fieldset:has(#protocolNummer:user-invalid) #error-protocolNummer,
    fieldset:has(#notaris-voorletters:user-invalid) #error-notaris-voorletters,
    fieldset:has(#notaris-tussenvoegsel:user-invalid) #error-notaris-tussenvoegsel,
    fieldset:has(#notaris-achternaam:user-invalid) #error-notaris-achternaam,
    fieldset:has(#verkrijger1-voorletters:user-invalid) #error-verkrijger1-voorletters,
    fieldset:has(#verkrijger1-achternaam:user-invalid) #error-verkrijger1-achternaam
    {
        display: flex;
        display: flex;
        align-items: center;
        gap: 0.4em;
        margin-top: -1em;
        margin-bottom: 1em;

        &::before{
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;

            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23BB271A'%3E%3Cpath d='M508.5-291.5Q520-303 520-320t-11.5-28.5Q497-360 480-360t-28.5 11.5Q440-337 440-320t11.5 28.5Q463-280 480-280t28.5-11.5ZM440-440h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");

            background-size: contain;
        }
    }

    .mainFieldset:has(input[type="radio"]:user-invalid) .error,
    .mainFieldset:not(.hidden):has(input[type="radio"]:user-invalid) .error{
        display: flex;
        align-items: center;
        gap: 0.4em;
        margin-top: 0.5em;
        margin-bottom: 1em;

        &::before{
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;

            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23BB271A'%3E%3Cpath d='M508.5-291.5Q520-303 520-320t-11.5-28.5Q497-360 480-360t-28.5 11.5Q440-337 440-320t11.5 28.5Q463-280 480-280t28.5-11.5ZM440-440h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");

            background-size: contain;
        }
    }

    /* fieldset:has(#overledene-voorletters:user-invalid) #error-overledene-voorletters::before,
    fieldset:has(#overledene-achternaam:user-invalid) #error-overledene-achternaam::before,
    fieldset:has(#bsn:user-invalid) #error-ongeldige-bsn::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23BB271A'%3E%3Cpath d='M508.5-291.5Q520-303 520-320t-11.5-28.5Q497-360 480-360t-28.5 11.5Q440-337 440-320t11.5 28.5Q463-280 480-280t28.5-11.5ZM440-440h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");

        background-size: contain;
    } */


    /* .mainHolder + .error {
        display: none;
    } */



    .hidden{
        display: none;
    }


    /* .mainFieldset:has(input[name="getrouwd"][value="ja"]:checked) {
        +.mainFieldset.hidden{
            display: block; 
        }

        .mainFieldset:has(input[name="huwelijkseVoorwaarden"][value="ja"]:checked) .mainFieldset.hidden{
            display: block; 
        }
    } */

    /* .mainFieldset:has(input[name="huwelijkseVoorwaarden"][value="ja"]:checked) 
    + .mainFieldset.hidden {
        display: block;
    } */

    /* .mainFieldset:has(input[name="getrouwd"][value="nee"]:checked) {
        .hidden {
            display: none;
        }
    } */


    .mainFieldset:has(input[name="getrouwd"][value="ja"]:checked) {
        + .mainFieldset.hidden {
            display: block;

            &:has(input[name="huwelijkseVoorwaarden"][value="ja"]:checked) {
                + .mainFieldset.hidden {
                    display: block;
                }
                ~ .mainFieldset.hidden:has(input[type="date"]) {
                    display: block;
                }
            }
        }
    }

    .mainFieldset:has(input[name="kinderen"][value="ja"]:checked) {
        + .mainFieldset.hidden {
            display: block;

            &:has(input[name="kinderenOverleden"][value="ja"]:checked) {
                + .mainFieldset.hidden {
                    display: block;
                }
            }
        }
    }

    .mainFieldset:has(input[name="testament"][value="ja"]:checked) {
        & div.hidden {
            display: block;
        }
    }
}


.verkrijgerVerwijderen{
    background-color: var(--colour-secondary-background);
}

.verkrijgerVerwijderen:hover{
    background-color: #c4c4c8;
}

.verkrijgerKnoppen{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.js .verkrijger {
  display: none;
}

.js .mainFieldset:has(input[name="geenAangifte"][value="ja"]:checked) {
    + .mainFieldset.verkrijger {
        display: block;
    }

    ~ .verkrijgerKnoppen button {
        display: block;
        display: flex;
        align-items: center;
    }
}

.no-js .mainFieldset:has(input[name="geenAangifte"][value="ja"]:checked) {
    ~ .mainFieldset.verkrijger {
        display: block;
    }
}

.js .verkrijger.zichtbaar {
  display: block;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
.no-js .verkrijgerVerwijderenIndividueel {
    display: none;
} 

.verkrijgerVerwijderenIndividueel {
    margin-bottom: 1.5em;
    font-size: 14px;
    background-color: var(--colour-secondary-background);
    color: var(--colour-text);
    display: flex;
    align-items: center;
    gap: 0.4em;
}
.verkrijgerVerwijderenIndividueel:hover {
    background-color: #c4c4c8;
}


@layer media-queries {
    /* mediaqueries */
    @media (min-width: 1440px) {
        details{
            & summary{
                font-size: 1em;
            }
        }
    }

    @media (max-width: 1024px) {
        .container{
            max-width: 1024px;
        }

        section{
            margin: 1em 10em 4em 10em;
        }
    }

    @media (min-width: 769px){
        details{
            & summary{
                font-size: 1em;
            }
        }

        #reset-btn{
            font-size: 1em;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 0;
        }

        .wrapper-verkrijger-btn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2em;
        }
    }

    @media (max-width: 768px) {
        .container{
            max-width: 768px;
        }

        section{
            margin: 1em 2em 4em 2em;
        }

        .name, ul{
            flex-wrap: wrap;
        }

        ul{
            gap: 0.5em;
        }

        .mainHolder, .verkrijgerKnoppen{
            flex-direction: row;
            gap: 0.5em;
        }

        .verkrijgerKnoppen{
            gap: 0;
        }

        h1{
            font-size: 1.5em;
        }

        h2{
            font-size: 1.2em;
        }

        legend, label, p, .mainFieldset input, .holder label, button {
            font-size: 0.8em;
        }
        
        details summary::after {
            width: 16px;
            height:16px;
        }
    }
}

@layer animations {
    /* animation */
    /* fieldset, legend{
        animation-name: appear;
        animation-timeline: view();
        animation-range: normal 25%;
        animation-fill-mode: both;
    } */

    @keyframes appear{
        0%{
            opacity: 0%;
            scale: 0.5;
        }
        
        100%{
            opacity: 1;
            scale: 1;
        }
    }

}
